{% extends 'base.html.twig' %}

{% block content %}
<div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center" style="height: 0px;">
         <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60" style="display: none;">
    </div>

    {% include 'topnav.html.twig' %}
    {% include 'sidebar.html.twig' %}
    {% block pageContent %}{% endblock %}
</div>


<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
    </div>
  </div>
</div>

{% endblock %}