
{# {% set error_messages =  app.session.flashbag.get('error_messages') %}
{% if error_messages %}
    {% for error_message in  error_messages %}
        <div class="error-container flash-message">
            <small class="error"> {{ error_message }} </small>
        </div>
    {% endfor %}
{% endif %}

{% set success_messages =  app.session.flashbag.get('success_messages') %}
{% if success_messages %}
    {% for success_message in  success_messages %}
        <div class="error-container flash-message">
            <small class="success"> {{ success_message }} </small>
        </div>
    {% endfor %}
{% endif %} #}




