{% extends 'content.html.twig' %}

{% block pageContent %}
    
    <div class="content-wrapper" style="min-height: 847px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{{ page_title }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">{{ page_title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div  class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="sms-datalist" class="table dataTable" width='100%'>
                                                <thead>
                                                    <tr>
                                                        <th>Client</th>
                                                        <th>Contact No.</th>
                                                        <th>Meter</th>
                                                        <th style='max-width:660px;'>Message</th>
                                                        <th>Send Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include 'js.html.twig' %}
    <script language="javascript">
        //<![CDATA[
            $(document).ready(function(){
                sms.settings.ajaxSmsList  =  "{{ path('branch_sms_ajax_list')}}"; 
                sms.init();
            });
        //]]>
    </script>
{% endblock %}